html,
body,
#main {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: hidden;
}

#main {
  background-color: black;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2a65b0;
  border: 0px none #2a65b0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c88e8;
}

::-webkit-scrollbar-thumb:active {
  background: #4a7ccc;
}

::-webkit-scrollbar-track {
  background: #132a54;
  border: 0px none #132a54;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #132a54;
}

::-webkit-scrollbar-track:active {
  background: #060f1d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
